@import "../../globals.scss";
.section {
  margin: auto;
  height: 100%;
  display: flex;
  align-self: center;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  max-width: 786px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  & > article:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primary-light;
    flex: 1;
    min-width: 375px;
    box-shadow: $scattered-shadow;
    max-width: 375px;
    z-index: 1;
    position: relative;
    padding: 30px 0px 40px;
  }
  & > article:last-child {
    padding-left: 50px;
    padding-right: 30px;
    & > p {
      padding-left: 50px;
      letter-spacing: 0.5px;
      line-height: 28px;
      text-indent: 30px;
    }
  }
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  &::after {
    content: "";
    width: 64px;
    height: 2px;
    background-color: $secondary;
    border: 1px solid $secondary;
    margin-top: 20px;
  }
}
.role {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
}

.img {
  border-radius: 50%;
  outline: none;
  height: 250px;
  width: 250px;
  margin-bottom: 40px;
  box-shadow: $scattered-shadow;
}
